
body{
	font-size: 1.225em;
	font-family: 'Redressed', cursive; 
	background-color: #8b8787;
	margin: 0;
}
header{
	text-align: center;
}
main{
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	justify-content: center;
	align-items: center;
 	text-align: center;
}
a{
	text-decoration: none;
	padding: 2rem;
	font-size: 2em;
	color: #000000;
	cursor: pointer;
	margin: 1rem;
}
a:hover{
	border-bottom: 2px solid #000000;
}
.box{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #BFBFBF;
	border: 1px solid #000;
	width: 80%;
	margin: 1rem;
}
img{
	margin: 1rem;
	width: 65%;
	height: 45vh;
	border: 2px solid #333;
	border-radius: 50%;
}

@media screen and (max-width: 960px){
	main{
		display: flex;
		flex-direction: column;
	}
	.box{
		width: 70%;
	}
	img{
		width: 40%;		
	}
}
footer{
	text-align: center;
	padding-block: 1rem;
	border-top: 1px solid #000;
}
