
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 	text-align: center;
	background-color: #8b8787;
	font-family: 'Redressed', cursive; 
	margin: 0;
}
a{
	text-decoration: none;
	padding: 2rem;
	font-size: 2em;
	color: #000000;
	cursor: pointer;
	margin: 1rem;
}
a:hover{
	border-bottom: 3px solid #000000;
}
.box{
	display: flex;
	flex-direction: column;
	background-color: #BFBFBF;
	box-shadow:5px 8px 3px #BFBFBF;
	border: 2px solid #B2B0B0;
	width: 50%;
	margin: 1rem
}
img{
	margin: 1rem;
	width: 80%;
	height: 500px;
	padding: 50px 50px 20px 50px;
}
.box:hover{
	box-shadow: 1px 1px 1px 1px #BFBFBF;
}
@media screen and (max-width: 960px){
	.box{
		width: 70%;
	}
	img{
		width: 80%;		
	}
	.box:hover{
		width: 80%
	}
}

footer{
	padding-block: 1rem;
	border-top: 1px solid #000000;
}
